  .selected {
    background-color: #CFD8DC !important;
    color: white;  
  }
  .objects {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;  
  }
  .objects li {
    cursor: pointer;
    position: relative;
    width: 15em;
    left: 0;   
    margin: .5em;
    padding: .3em 0;    
    border-radius: 25px;
    height: 2.6em;
    color:white;  
    float:left;  
    background-image: -webkit-gradient(from(#143153), to(#4B688B));
    background-image: -webkit-linear-gradient( #143153, #4B688B);
    background-image: -moz-linear-gradient( #143153, #4B688B);
    background-image: linear-gradient( #143153, #4B688B); 
  }
  .objects li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;  
  }
  .objects li:hover {
    color: white;
    /*background-color: #748BA7;*/
    left: .1em;
    background-image: -webkit-gradient(from(#4B688B), to(#143153));
    background-image: -webkit-linear-gradient( #4B688B, #143153);
    background-image: -moz-linear-gradient( #4B688B, #143153);
    background-image: linear-gradient( #4B688B, #143153); 
  }
  .objects .text {
    position: relative;
    top: -3px;
  }
  .objects .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    /*background-color: #143153;*/
    line-height: 1em;
    position: relative;
    left: -20px;
    top: -33px;
    height: 2.7em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    
  }
  
  .objects .icontext {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    /*background-color: #143153;*/
    line-height: 1em;
    position: relative;
    left: 0px;
    top: -33px;
    height: 2.7em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    
  }
  .icon
  {
    margin-top:-16px;
    margin-left:-16px;
  }
  
  button.delete {
    float:right;
    margin-top: 2px;
    margin-right: .8em;
    background-color: gray !important;
    color:white;
  }