<div *ngIf="user">
    
    <h2>{{user.name}} details!</h2>
    <div>
      <label>id: </label>{{user.id}}
    </div>
    <div>
      <label>name: </label>
      <input [(ngModel)]="user.name" placeholder="name"/>      
    </div>
    <br>
    <button (click)="goBack()">Back</button>&nbsp;<button (click)="save()">Save</button>
    
    <div *ngIf="selectedDevice"> 
        <h2>{{selectedDevice.name}} details!</h2>
        <div>
          <label>id: </label>{{selectedDevice.id}}
        </div>
        <div>
          <label>name: </label>
          <input [(ngModel)]="selectedDevice.name" placeholder="name"/>      
        </div>    
    </div>

    <div>
        <h4>Add Device</h4>   
        <input #deviceName />
        <button (click)="addDevice(deviceName.value); deviceName.value=''">Add</button>
    </div>

    <h2>Devices</h2>    
    <ul class="users" >
      <li *ngFor="let device of user.devices" (click)="onSelect(device);" >
        <img class="icon" src='./Image/PersonIcon.png' style="width:75px;height:75px;"/>
        <span class="badge">{{device.id}}</span>
        <span class="icontext">{{device.name}}</span>  
      </li>
    </ul>     
    
</div>

