<div *ngIf="selectedUser">  
  <h2>
    {{selectedUser.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<user-search></user-search>
<div>
<h2>Users {{title}}</h2>
<ul class="users" >
  <li *ngFor="let user of users" (click)="onSelect(user);gotoDetail();" 
    [class.selected]="user === selectedUser">    
    <img class="icon" src='./Image/PersonIcon.png' style="width:75px;height:75px;"/>
    <span class="badge">{{user.id}}</span>
    <span class="icontext">{{user.name}}</span>
  </li>
</ul>
</div>


